
{% extends "layouts.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<style>
    .myfieldclass{
        width:100%;
        border:1px solid gray;
    }
</style>
<div class="col col-md-8 col-sm-12">

<form method="POST" style="width:100%;" action="{% url 'create' %}"  enctype="multipart/form-data">  
{% csrf_token %}  
      
{{ form.non_field_errors}}

    <table class="table">
        <tr>
            <td>ภาพปก</td>
            <td> <input type="file" class="form-control" name="image_s" required>
            </td>
        </tr>
        <tr>
            <td>เลขหนังสือ</td>
            <td><input type="text" class="form-control" id="isbn" name="isbn" required></td>
        </tr>
        <tr>
            <td>ชื่อหนังสือ</td>
            <td><input type="text" class="form-control" id="title" name="title" required></td>
        </tr>
        <tr>
            <td>ผู้แต่ง</td>
            <td><input type="text" class="form-control" id="author" name="author" required></td>
        </tr>
        <tr>
            <td>ปีที่พิมพ์</td>
            <td><input type="text" class="form-control" id="year" name="year" required></td>
        </tr>
        <tr>
            <td>ผู้จัดพิมพ์</td>
            <td><input type="text" class="form-control" id="publisher" name="publisher" required></td>
        </tr>
        <tr>
            <td>รายละเอียด</td>
            <td>
                <textarea class="form-control" id="description" name="description" required></textarea>
            </td>
        </tr>
    </table>
    <center>
    <button type="submit" class="btn btn-primary">บันทึกการเปลี่ยนแปลง</button>
    </center>
    <br><br>
</form>
</div>
 {% endblock %}

